@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

  body{
      background-color:#001a00;
      
      }

			.jk{
			    font-size:30px; font-weight:bold; color:yellow; text-align:center;	    
			    }
		

			.t01{
				font-family: arial;
				border-collapse: collapse;
				width: 70%;
				 }


			.t01 td{
				border: 1px solid #dddddd;
				text-align: left;
				padding: 8px; 
				}

			.t01 th{
				border: 1px solid #dddddd;
				background-color:black;
				color:white;
				text-align: center;
				padding: 8px;
				 }

				

			.t01 tr:nth-child(even){
				background-color: #dddddd; }

			

			.t01 tr:nth-child(odd){
				background-color: #F5F5F5; }

			.t01 tr:hover
{
    background-color:#051a02; color:white;}			

			a{
			    text-decoration:none; color:white; background-color:Blue; padding:5px;}

			.tl{
			    text-align:center; font-weight:bold;}
